/* modificações atvd */

h1, h2 {
    color: #318021;
    font-family: serif;
}

#cabecalho {
    background-color: blue;
}

nav {
    font-weight: bold;
}

#container {
    font-size: 20px;
}

#conteudo {
    line-height: 1.5;
}

#contact {
    border: solid 1px grey;
    padding: 10px;
}

p {
    color: green;
}

button {
    background-color: blue;
    color:white;
}

.rodape {
    border-top: solid 2px red; 
}

.cabecalho {
    background-color: blue;
}